@{
    ViewData["Title"] = "About Us";
}

<h1>@ViewData["Title"]</h1>

<p>
    Games Galore is the ultimate destination for gamers of all ages. We offer a video game library that features the latest and greatest in video gaming, as well as access to exclusive gaming content. Our library includes games for every major console as well as handheld devices. GamesGalore is the perfect solution for gamers who want to keep up with the latest trends in video gaming without breaking the bank.
</p>