@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<!-- TODO Create privacy policy (easy to do with a free online privacy policy generator) -->

<p>Use this page to detail your site's privacy policy.</p>